<?xml version="1.0"?>
<config>
	<global>
		<models>
            <twitter>
                <class>Sm_Twitter_Model</class>
            </twitter>
        </models>
		<blocks>
            <twitter>
                <class>Sm_Twitter_Block</class>
            </twitter>            		
        </blocks>				
		<helpers>
            <twitter>
                <class>Sm_Twitter_Helper</class>
            </twitter>
        </helpers>
        <resources>
        	<twitter_setup>
        		<setup>
        			<module>Sm_Twitter</module>
        		</setup>
        	</twitter_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<twitter>
                <use>standard</use>
                <args>
                    <module>Sm_Twitter</module>
                    <frontName>twitter</frontName>
                </args>
            </twitter>
        </routers>
		<layout>
            <updates>
                <twitter module="Sm_Twitter">
					<file>sm/twitter.xml</file>
                </twitter>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Sm_Twitter>
                     <files>
                          <default>Sm_Twitter.csv</default>
                     </files>
                </Sm_Twitter>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Sm_Twitter>
                     <files>
                          <default>Sm_Twitter.csv</default>
                     </files>
                </Sm_Twitter>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>										
										<twitter_cfg translate="title" module="twitter">
											<title>SM Twitter Settings</title>
										</twitter_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <twitter_cfg>
        	<general>
                <isenabled>1</isenabled>
                <title>SM Twitter</title>
            </general>
			<module_setting>
				<theme>light</theme>
				<limit>3</limit>
				<href>https://twitter.com/magentech</href>
				<widgets_id>334892754301755392</widgets_id>
				<!--footer_text>Tweets by @magentech</footer_text-->
			</module_setting>			
            <advanced>
            	<pretext></pretext>
            	<posttext></posttext>
            </advanced>
        </twitter_cfg>
    </default>
</config>